<library path="src">
  <class name="Schunk SDH2 UI" type="schunk_ui.schunk_ui.SchunkPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      Schunk SDH2 UI
    </description>
    <qtgui>
      <group>
        <label>KUKA</label>
      </group>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Schunk SDH2 UI</label>
      <icon type="theme">system-help</icon>
      <statustip>Schunk SDH2 UI</statustip>
    </qtgui>
  </class>
</library>
